#head{
	color: #fffcd3;
	background: #567705;
	text-align: center;
	height: 100px;
}
.titulo{
	font-size: 40px;
	font-weight: bold;
}

#menu {
	height: 870px;
	padding: 40px 10px 40px 10px;
	color: white;
	background-color: #c7c9c3;
}

#content{
	height: 870px;
	color: white;
	background-color: #8e9185;
}

#menubutton1, #menubutton2, #menubutton3, #menubutton4, #menubutton5, #createButton{
	height: 15%;
	width: 90%;
	padding-top: 5px;
	margin: 20px 10px 20px 10px;
	text-align: center;
	color:white;
}

.btn{
	height:100px;
	width: 100%;
	font-size: 25px;
	border-radius: 8px;
	white-space: pre-wrap;
}

.btn-submit {
	height: 60px;
	width: 200px;
	font-size: 18px;
	border-radius: 8px;
	margin-top: 40px;
	margin-right: 40px;
	white-space: pre-wrap;
}

#footer{
	height: 48px;
	background-color: #567705;
}